<!DOCTYPE html>
<html>
    <body id = "homepage">
        <h2>Map Your Travels</h2>
        <img src = '../images/homepage.jpg'>
        <p>Keeping track of all the things that a vacation needs 
            -- from flights, to hotels, to where you want to go, can be a nightmare. 
            Sometimes, you'll even need a vacation from planning the vacation!
            Why not use Map Your Travels to make that all easier?</p>
    </body>
</html>